# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django specific
*.log
local_settings.py
db.sqlite3
media/

# Flask specific
instance/
.webassets-cache

# Sphinx documentation
docs/_build/
build/doctrees/
build/html/

# pyenv
.python-version

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.komodoproject
.ruff_cache

# JetBrains IDEs
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Migrations (ignore all except __init__.py)
**/migrations/
**/migrations/*.py


# AWS credentials
*.pem

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Editor swap/temp files
*.swp
*~
.project
